{
  "presets": ["env"],
  "sourceMaps": true,
    "retainLines": true,
    "env": {
      "test": {
        "plugins": [
          ["istanbul", {
            "exclude": [
              "**/server/v1/helpers/copyleaks/Scan.js",
              "**/server/v1/middlewares/plagiarismCheck.js"
            ]
          }]
        ]
      }
    }
}
